// Header
.site-header {
    position: fixed;
    width: 100%;
    z-index: 5;
  
    &-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        font-size: 24px;
        color: $secondary;
    }

    .hamburger {
        display: none;
    }
    
    @include media-down(s) {
        padding: 10px 0;

        .hamburger {
            display: flex;
        }
    }
}