// Main navigation
.main-nav {
      
    ul {
        display: flex;
        color: $primary;

        li {
            margin-left: 40px;

            a {
                padding: 15px;
                display: inline-block;
                font-size: 14px;
            }
        }
    }
}